html,
body {
  width: 100%;
}


.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordian--container {
  width: 700px;
}

.accordian--title {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(211, 210, 210);
}

.accordian--title:hover {
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.accordian--content {
  height: 0;
  overflow: hidden;
}

.active {
  height: fit-content;
}